@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");
$FontFamily: "Figtree", sans-serif;
$Yellow: hsl(47, 88%, 63%);
$White: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 50%);
$Black: hsl(0, 0%, 7%);
